<div class="row" *ngIf="serie ">
    <div class="col-12 ">
        <h2 class="text-center   "> {{ serie.original_name }} </h2>
        <hr class="new2">
    </div>
</div>
<div class="row" *ngIf="serie ">
    <figure class="col-12 col-md-4 col  ">
        <img class="img-fluid" src="{{ serie.poster_path  | showImage:widthPoster:'poster' }} " [ngStyle]="{'width.px': widthPoster }" alt="{{ serie.original_name }}" title="{{ serie.original_name }}">
    </figure>
    <div class="col-12 col-md-8">
        <h3>Sinopsis</h3>
        <p> {{ serie.overview }} </p>
        <hr>
        <h3>Información General</h3>
        <p *ngIf="serie.first_air_date">
            <span class=" font-weight-bold ">Fecha de inicio:</span> {{ util.getNewDate( serie.first_air_date) | date:'dd/MM/yyyy' }} </p>
        <p>
            <span class=" font-weight-bold ">Estado:</span> {{ serie.status }} </p>
        <p *ngIf="serie.last_air_date">
            <span class=" font-weight-bold ">Fecha de finalización:</span> {{ util.getNewDate( serie.last_air_date) | date:'dd/MM/yyyy' }} </p>
        <p>
            <span class=" font-weight-bold ">Duración:</span> {{ serie.episode_run_time }} min. </p>
        <p>
            <span class=" font-weight-bold ">Homepage:</span> {{ serie.homepage }} </p>
        <!-- p>
        <span class=" font-weight-bold ">Fecha fin de temporadas:</span> {{ serie.last_air_date }} </p-->
        <p>
            <span class=" font-weight-bold ">Cadena:</span>
        </p>
        <figure *ngFor="let net of serie.networks">
            <img class="w92" src="{{ net.logo_path  | showImage:500:'logo' }} " alt="{{ net.name }}" title="{{ net.name }}">
        </figure>



        <p>
            <span class=" font-weight-bold ">Rating</span> {{ serie.vote_average | number:'1.1-1' }} </p>
        <p>

            <span class=" font-weight-bold ">Generos:</span>
        </p>

        <!--pre> {{ serie | json }} </pre -->

        <div *ngFor="let gen of serie.genres">
            <kbd> {{ gen.name}} </kbd>
        </div>

        <hr class="new2">
        <article>
            <h3>Temporadas</h3>

            <mat-accordion>
                <mat-expansion-panel *ngFor="let season of serie.seasons">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!--figure [ngStyle]="{'height.px': 90 }">
                                <img class="img-fluid" src="{{ season.poster_path  | showImage:widthSeasonPoster:'poster' }} " [ngStyle]="{'width.px': widthSeasonPoster }" alt="{{ serie.original_name }}" title="{{ serie.original_name }}">
                            </figure-->
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ season.name }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!--pre>
                            {{ seasonEpisodes[serie.id][season.season_number].episodes | json }}
                         </pre-->
                    <div>
                        <div class="row">
                            <figure class="col-md-4">
                                <img class="img-fluid" src="{{ season.poster_path  | showImage:widthSeasonPoster:'poster' }} " [ngStyle]="{'width.px': widthSeasonPoster , 'height.px': 200}" alt="{{ serie.original_name }}" title="{{ serie.original_name }}">
                            </figure>
                            <div class="col-md-8">
                                <div class="row" *ngFor="let cap of seasonEpisodes[serie.id][season.season_number].episodes ">
                                    <div class="col-md-3">{{ util.getNewDate(cap.air_date) | date:'dd/MM/yyyy' }}</div>
                                    <div class="col-md-8">{{ cap.name }}</div>
                                    <div class="col-md-1"><input type="checkbox" name="visto" id="visto"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </mat-expansion-panel>
            </mat-accordion>

        </article>
        <!--article *ngIf="seasonEpisodes">
            <h3>Información Temporadas</h3>
            <h4>
                <span class=" font-weight-bold  ">{{ seasonEpisodes.name }}</span>
            </h4>
            <div class="row" *ngFor="let ep of seasonEpisodes.episodes">
          <div class="col-10">
            <p>{{ep.episode_number | number:'2.0-0' }} - {{ ep.name }}</p>
            <p> {{ ep.air_date }} </p>
            <p *ngIf=" ep.overview" class="muted ">{{ ep.overview }} </p>
          </div>
          <div class="col-2 align-content-center">
            <input type="checkbox" name="visto" id="visto">
          </div>
        </div> >
        </article-->

        <button (click)="returnTo()" class="btn btn-success mt-3 mb-3">Volver</button>


    </div>
</div>